/* Navigator page stylesheet*/

body {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #7203ad;
	background-image: url("../Assets/Backgrounds/Stage1/Background.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-position-y: 20%;
	background-repeat: no-repeat;
	font-family:  'Open Sans', sans-serif;
	font-size: 100%;
}

#home {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	text-align: center;
	z-index:2;
	max-width: 90%;
	align-items:center;
}

#downloads {
	display: none;
	line-height: 1;
	text-align: center;
	z-index:2;
	align-items:center;
	max-width:80%;
}

#support {
	display:none;
	line-height: 1.5;
	text-align: center;
	z-index:2;
	align-items:center;
}

#changes {
	z-index:2;
	height:800px;
	display: none;
	align-items:center;
	text-align:center;
}

#changeLog {
	height: 500px;
	overflow-y: auto;
	margin-bottom: 5%;
	max-width: 800px
}

#changeLog td {text-align:left;}

#changeLog::-webkit-scrollbar {
  width: 10px;
}

#changeLog::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

#changeLog::-webkit-scrollbar-track {
  background-color: #79e091;
  border-radius: 10px;
}

#changeLog::-webkit-scrollbar-corner {
  background-color: #79e091;
}

h1 {
	font-family: 'Press Start 2P', sans-serif;
	margin-top: 50px;
	color: #07e821;
	margin-bottom: 10px;
	font-size: 450%;
	letter-spacing: 1px;
	font-weight: normal;
	text-transform: uppercase;
	z-index:2;
	position:relative;
}

h2 {
	font-family: 'Press Start 2P', sans-serif;
	margin-top: 50px;
	color: #07e821;
	margin-bottom: 20px;
	font-size: 300%;
	letter-spacing: 0px;
	font-weight: normal;
	text-transform: uppercase;
	z-index:2;
	position:relative;
}

h3 {
	font-family: 'VT323', monospace;
	margin-top: 0px;
	color: #07e821;
	font-size: 350%;
	margin-bottom: 10px;
	z-index:2;
	position:relative;
}

h4 {
	font-family: 'VT323', monospace;
	font-size: 200%;
	color:white;
}

p {
	font-family: 'Press Start 2P', sans-serif;
	max-width:70%;
	margin-top: 0px;
	margin-bottom: 16px;
	text-align: center;
	font-size: 110%;
	line-height: 1.5;
	font-weight: normal;
	color:#ffffff;
	z-index:2;
	position:relative;
}

a {
	color: #07b8e0;
	z-index:2;
}

a:hover {
	text-decoration: underline;
	color: blue;
	border-bottom: 1px solid blue;
	z-index:2;
}

#bouncingIcon {
	position: fixed;
	z-index:1;
	height:50px;
	width:50px;
}

#repositoryButton {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 10px;
	text-decoration: none;
	background-color: #ab34eb;
	color: white;
	border-radius: 10px;
}

#repositoryButton:hover {
	background-color:#ca84f0;
	cursor: pointer;
}

#changesButton {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 10px;
	text-decoration: none;
	background-color: red;
	color: white;
	border-radius: 10px;
}

#changesButton:hover {
	background-color:#ed7b7b;
	cursor: pointer;
}

#donateButton {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 10px;
	text-decoration: none;
	background-color: blue;
	color: white;
	border-radius: 10px;
}

#donateButton:hover {
	background-color:#4166fa;
	cursor: pointer;
}

#latestReleasesButton {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	text-decoration: none;
	border-radius: 10px;
}

#latestReleasesButton:hover {
	background-color:#95e079;
	cursor: pointer;
}

#backButton {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 20px;
	text-decoration: none;
	background-color: #4CAF50;
	color: white;
	border-radius: 10px;
}

#backButton:hover{
	background-color:lightgreen;
	cursor: pointer;
}

video::-webkit-media-controls {
	display:none;
}

video::-webkit-media-controls-enclosure {
	display:none;
}

video::-webkit-media-controls-panel {
	display:none;
}

video::-webkit-media-controls-play-button {
	display:none;
}

table {
	border-collapse: collapse;
	border-radius: 30px;
	text-align: center;
	width: auto;
	z-index:2;
	background-color: #07e821;
}

thead {
	font-family: 'Press Start 2P', sans-serif;
	text-transform: uppercase;
}

td,th {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}


td {
	font-size: 30px;
	font-family: 'VT323', monospace;
	background-color:#442294;
	border: 1px solid black;
	color: #07e821;
	height:auto;
}


@media only screen and (max-width: 767px) {
	body{
		font-size:50%;
		padding: 10%;
	}

	p {
		max-width:400px;
		font-size:20px;
		line-height:1.25;
	}
	#donateButton {
		width:200px;
		font-size:20px;
		padding: 10px;
	}

	#repositoryButton {
		width:200px;
		font-size:10px;
		padding: 10px;
	}

	#latestReleasesButton {
		width:200px;
		font-size:20px;
		padding: 10px;
	}
	#backButton {
		width:200px;
		font-size:20px;
		padding: 20px;
	}

	#changesButton {
		width:200px;
		font-size:20px;
		padding: 20px;
	}
}

@media only screen and (max-width: 400px) {
	body{
		font-size:40%;
	}

	p {
		margin-left:-10px;
		margin-right:-10px;
	}
}
