/* Navigator page stylesheet*/

body {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #7203ad;
	background-image: url("../Assets/Backgrounds/Stage1/Background.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-position-y: 20%;
	background-repeat: no-repeat;
	font-family:  'Open Sans', sans-serif;
	font-size: 100%;
}

h1 {
	font-family: 'Press Start 2P', sans-serif;
	margin-top: 40px;
	color: #07e821;
	margin-bottom: 10px;
	font-size: 450%;
	letter-spacing: 1px;
	font-weight: normal;
	text-transform: uppercase;
	z-index:2;
	position:relative;
}

h2 {
	font-family: 'Press Start 2P', sans-serif;
	margin-top: 50px;
	color: #07e821;
	margin-bottom: 20px;
	font-size: 300%;
	letter-spacing: 0px;
	font-weight: normal;
	text-transform: uppercase;
	z-index:2;
	position:relative;
}

h3 {
	font-family: 'VT323', monospace;
	margin-top: 0px;
	color: #07e821;
	font-size: 350%;
	margin-bottom: 10px;
	z-index:2;
	position:relative;
}

h4 {
	font-family: 'VT323', monospace;
	font-size: 200%;
	color:white;
}

p {
	font-family: 'Press Start 2P', sans-serif;
	max-width:70%;
	margin-top: 0px;
	margin-bottom: 16px;
	text-align: center;
	font-size: 110%;
	line-height: 1.5;
	font-weight: normal;
	color:#ffffff;
	z-index:2;
	position:relative;
}

a {
	color: #07b8e0;
	z-index:2;
}

a:hover {
	text-decoration: underline;
	color: blue;
	border-bottom: 1px solid blue;
	z-index:2;
}

table {
	border-collapse: collapse;
	text-align: center;
	width: auto;
	z-index:2;
}

thead {
	top:0;
	background-color: #07e821;
	border-radius: 30px;
	font-family: 'Press Start 2P', sans-serif;
	text-transform: uppercase;
	text-align: center;
	position:sticky;
}

td,th {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}


td {
	font-size: 25px;
	font-family: 'VT323', monospace;
	background-color:#442294;
	border: 1px solid black;
	color: #07e821;
	height:auto;
}

#home {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	text-align: center;
	z-index:2;
	max-width: 90%;
	align-items:center;
}

#downloads {
	display: flex;
	flex-direction: column;
	line-height: 1;
	text-align: center;
	z-index:2;
	align-items:center;
	max-width:80%;
}

#support {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	text-align: center;
	z-index:2;
	align-items:center;
}


#changes {
	z-index:2;
	height:800px;
	display: flex;
	flex-direction: column;
	align-items:center;
	text-align:center;
}


#changeLog {
	height: 500px;
	overflow-y: auto;
	margin-bottom: 1%;
	max-width: 200%;
	position:relative;
}

#changeLog td {text-align:left;}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #06d10d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #65c968;
}

::-webkit-scrollbar-track {
  background-color: #2f1970;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #79e091;
}

#changeLog::-webkit-scrollbar-thumb {
  background-color: #541df5;
  border-radius: 10px;
}

#changeLog::-webkit-scrollbar-thumb:hover {
  background-color: #7145f5;
}

#bouncingIcon {
	position: fixed;
	z-index:1;
	height:50px;
	width:50px;
}

#homeButtons {
	display: flex;
	flex-direction:column;
}

#repositoryButton {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 10px;
	text-decoration: none;
	background-color: #ab34eb;
	color: white;
	border-radius: 10px;
}

#repositoryButton:hover {
	background-color:#ca84f0;
	cursor: pointer;
}

#changesButton {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 10px;
	text-decoration: none;
	background-color: red;
	color: white;
	border-radius: 10px;
}

#changesButton:hover {
	background-color:#ed7b7b;
	cursor: pointer;
}

#donateButton {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 10px;
	text-decoration: none;
	background-color: blue;
	color: white;
	border-radius: 10px;
}

#donateButton:hover {
	background-color:#4166fa;
	cursor: pointer;
}

#latestReleasesButton {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	text-decoration: none;
	border-radius: 10px;
}

#latestReleasesButton:hover {
	background-color:#95e079;
	cursor: pointer;
}

#backButton {
	width:300px;
	font-family: 'Press Start 2P', sans-serif;
	letter-spacing: 0px;
	font-size:20px;
	padding: 20px;
	text-decoration: none;
	background-color: #4CAF50;
	color: white;
	border-radius: 10px;
}

#backButton:hover{
	background-color:lightgreen;
	cursor: pointer;
}

video::-webkit-media-controls {
	display:none;
}

video::-webkit-media-controls-enclosure {
	display:none;
}

video::-webkit-media-controls-panel {
	display:none;
}

video::-webkit-media-controls-play-button {
	display:none;
}


@media only screen and (max-height: 500px) {
	body{
		position:fixed;
	}
	#home {
		font-size:80%;
		max-width:100%;
		position:relative;
	}
	
	p{
		max-width: 90%;
	}

	#homeButtons {
		flex-direction:row;
		max-width: 80%;
	}

	#donateButton {
		width:120px;
		height:50px;
		font-size:8px;
		padding: 5px;
	}

	#repositoryButton {
		width:120px;
		height:50px;
		padding: 5px;
		font-size:8px;
	}

	#latestReleasesButton {
		width:120px;
		height:50px;
		padding: 5px;
		font-size:8px;
	}

	#changesButton {
		width:120px;
		height:50px;
		padding: 5px;
		font-size:8px;
	}

	#backButton {
		width:200px;
		font-size:20px;
		padding: 10px;
	}
}

@media only screen and (max-width: 767px) {
	body{
		font-size:50%;
	}

	p {
		font-size: 140%;
		max-width:400px;
		line-height:1.25;
	}

	#donateButton {
		width:200px;
		font-size:10px;
		padding: 10px;
	}

	#repositoryButton {
		width:200px;
		font-size:10px;
		padding: 10px;
	}

	#latestReleasesButton {
		width:200px;
		font-size:10px;
		padding: 10px;
	}
	
	#changesButton {
		width:200px;
		font-size:10px;
		padding: 10px;
	}
	#backButton {
		width:200px;
		font-size:20px;
		padding: 10px;
	}

	
}

@media only screen and (max-width: 400px) {
	
	#home{
		max-width:80%
	}
	h1 {
		font-size: 150%;
	}

	h3 {
		font-size: 200%;
	}

	p {
		margin:auto;
		font-size:100%;
	}

	#donateButton {
		width:120px;
		font-size:10px;
		padding: 10px;
	}

	#repositoryButton {
		width:120px;
		font-size:10px;
		padding: 10px;
	}

	#latestReleasesButton {
		width:120px;
		font-size:10px;
		padding: 10px;
	}
	#backButton {
		width:120px;
		font-size:10px;
		padding: 10px;
	}

	#changesButton {
		width:120px;
		font-size:10px;
		padding: 10px;
	}
}


