name: Build Navigator

on:
  push:
    branches:
      - main
    paths:
      - 'Navigator.py'
      - '.github/**'
      - 'assets/**'
      - 'LICENSE'
      - 'NOTICE'

jobs:
  build-windows:
    runs-on: windows-latest
    name: Build Navigator for Windows

    steps:
      - name: Download code on Windows
        uses: actions/checkout@v3
        with:
          repository: pstlo/Navigator
          ref: main

      - name: Store data in Assets folder
        run: |
          echo "${{ secrets.ENV }}" > "${{ github.workspace }}/Assets/.env"

      - name: Set up Python on Windows
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install prerequisites on Windows
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install pygame
          pip install cryptography
          pip install pypresence
          pip install python-dotenv

      - name: Create Windows executable
        run: |
            pyinstaller --name Navigator --onefile --noconsole --add-data "${{ github.workspace }}/Assets;Assets" -i "${{ github.workspace }}\.github\Icon.ico" --version-file "${{ github.workspace }}\.github\version.txt" "${{ github.workspace }}\Navigator.py"

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v3
        with:
          name: NavigatorWindows
          path: dist/Navigator.exe

      - name: Include license and notice in Windows artifact
        uses: actions/upload-artifact@v3
        with:
          name: NavigatorWindows
          path: |
              ${{ github.workspace }}/LICENSE
              ${{ github.workspace }}/NOTICE
              ${{ github.workspace }}/gameRecords.txt


  build-windows-c:
    runs-on: windows-latest
    name: Build Navigator for Windows

    steps:
      - name: Download code on Windows
        uses: actions/checkout@v3
        with:
          repository: pstlo/Navigator
          ref: main

      - name: Store data in Assets folder
        run: |
          echo "${{ secrets.ENV }}" > "${{ github.workspace }}/Assets/.env"

      - name: Set up Python on Windows
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install prerequisites on Windows
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install pygame
          pip install cryptography
          pip install pypresence
          pip install python-dotenv

      - name: Build Windows Cython executable
        run: |
            pip install cython
            pip install setuptools
            move ${{ github.workspace }}/.github/Cython/* ${{ github.workspace }}
            python ${{ github.workspace }}/SetupCython.py build_ext --inplace ${{ github.workspace }}
            pyinstaller --name Navigator --onefile --noconsole --add-data "${{ github.workspace }}/Assets;Assets" -i "${{ github.workspace }}/.github/Icon.ico" --version-file "${{ github.workspace }}/.github/version.txt" "${{ github.workspace }}/Main.py"

      - name: Upload Windows C artifact
        uses: actions/upload-artifact@v3
        with:
          name: NavigatorWindowsC
          path: dist/Navigator.exe

      - name: Include license and notice in Windows C artifact
        uses: actions/upload-artifact@v3
        with:
          name: NavigatorWindowsC
          path: |
            ${{ github.workspace }}/LICENSE
            ${{ github.workspace }}/NOTICE
            ${{ github.workspace }}/gameRecords.txt


  build-macos-intel:
    runs-on: macos-latest
    name: Build Navigator for MacOS (Intel Based)

    steps:
      - name: Download code on MacOS (Intel Based)
        uses: actions/checkout@v3
        with:
          repository: pstlo/Navigator
          ref: main

      - name: Store data in Assets folder
        run: |
          echo "${{ secrets.ENV }}" > "${{ github.workspace }}/Assets/.env"

      - name: Set up Python on MacOS (Intel Based)
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install prerequisites on MacOS (Intel Based)
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install pygame
          pip install cryptography
          pip install pypresence
          pip install python-dotenv
          
      - name: Build MacOS app
        run: |
          pyinstaller -y --name Navigator --noconsole --add-data Assets:Assets --add-data gameRecords.txt:. -i ".github/Icon.icns" Navigator.py

      - name: Upload MacOS (Intel Based) C artifact
        uses: actions/upload-artifact@v3
        with:
          name: NavigatorMacOSIntel
          path: dist/Navigator.app

      - name: Include license and notice in MacOS (Intel Based) artifact
        uses: actions/upload-artifact@v3
        with:
          name: NavigatorMacOSIntel
          path: |
            ${{ github.workspace }}/LICENSE
            ${{ github.workspace }}/NOTICE


  build-macos-intel-c:
    runs-on: macos-latest
    name: Build Navigator for MacOS (Intel Based)

    steps:
      - name: Download code on MacOS (Intel Based)
        uses: actions/checkout@v3
        with:
          repository: pstlo/Navigator
          ref: main

      - name: Store data in Assets folder
        run: |
          echo "${{ secrets.ENV }}" > "${{ github.workspace }}/Assets/.env"

      - name: Set up Python on MacOS (Intel Based)
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install prerequisites on MacOS (Intel Based)
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install pygame
          pip install cryptography
          pip install pypresence
          pip install python-dotenv

      - name: Build MacOS (Intel Based) Cython app
        run: |
          pip install cython
          pip install setuptools
       	  mv ${{ github.workspace }}/.github/Cython/* ${{ github.workspace }}
          python SetupCython.py build_ext --inplace
          pyinstaller -y --name Navigator --noconsole --add-data Assets:Assets --add-data gameRecords.txt:. -i ".github/Icon.icns" Main.py

      - name: Upload MacOS (Intel Based) C artifact
        uses: actions/upload-artifact@v3
        with:
          name: NavigatorMacOSIntelC
          path: dist/Navigator.app

      - name: Include license and notice in MacOS (Intel Based) C artifact
        uses: actions/upload-artifact@v3
        with:
          name: NavigatorMacOSIntelC
          path: |
            ${{ github.workspace }}/LICENSE
            ${{ github.workspace }}/NOTICE


  build-linux:
    runs-on: ubuntu-latest
    name: Build Navigator for Linux

    steps:
      - name: Download code on Linux
        uses: actions/checkout@v3
        with:
          repository: pstlo/Navigator
          ref: main

      - name: Store data in Assets folder
        run: |
          echo "${{ secrets.ENV }}" > "${{ github.workspace }}/Assets/.env"

      - name: Set up Python on Linux
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install prerequisites on Linux
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install pygame
          pip install cryptography
          pip install pypresence
          pip install python-dotenv

      - name: Create Linux executable
        run: |
          pyinstaller --name Navigator --onefile --noconsole --add-data Assets:Assets Navigator.py

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v3
        with:
          name: NavigatorLinux
          path: dist/Navigator

      - name: Include license and notice in Linux artifact
        uses: actions/upload-artifact@v3
        with:
          name: NavigatorLinux
          path: |
              ${{ github.workspace }}/LICENSE
              ${{ github.workspace }}/NOTICE
